/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:   black;
    color: white;
}

header {
    background-color:   #000000;
    color: white;
    text-align: center;
    padding: 2rem;
}

.subhead {
   padding-top: 4%;
   font-weight: bold;
  color: white;
}



#logo {
    max-width: 10%; 
    height: auto; /* Maintains the aspect ratio */
    padding: 0%;
}



.screenshot-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribute space evenly */
    padding-left: 10%;
    padding-right: 10%;
}

.screenshot {
   flex: 1;
    max-width:100%; 
    
}


.screenshot-container {
    text-align: center; /* Center the text */
    padding-left: 5%;
    padding-right: 5%;
    max-width: 150px;
}

.screenshot {
    max-width: 100%; /* Ensure the image fits within the container */
}


nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color:  #FBE122;
    padding: 1rem;
}

nav a {
    text-decoration: none;
    color:  #000080;
    margin: 0 1rem;
}


footer {
    text-align: center;
    background-color: #1E0000;
    color: #F8B10B;
    padding: 1rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center horizontally */
    align-items: flex-start; /* Align items at the bottom */
    padding-left: 5%;
    padding-right: 5%;
}

.column {
    flex: 1; /* Equal distribution of available space */
    padding-left: 10%;
    padding-right: 10%;
    align-items: center;
    justify-items: center;
}

.index_scheme {
    color: black;
}

.centered-content {
    display: flex;
    flex-direction: column;
    align-items: center; /* Horizontally center */
    justify-content: center; /* Vertically center */
    text-align: center; /* Center text within the paragraph */
    /* Add any other styling you need */
}

/* Optional: Add some spacing or margins */
img {
    margin-bottom: 10px;
    max-width: 90%;
    height: auto;
}






